/* picture */

.thumbnail {
    position: relative;
    /*1118新增*/
    width: 100%;
}

.thumbnail img {
    width: 100%;
    height: auto;
}

.thumbnail .cover {
    position: absolute;
    background: rgba(255, 255, 255, 0.6);
    border: rgba(0, 0, 0, 0.1);
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    margin: 0 auto;
    opacity: 0;
    transition: all 0.3s ease-in;
    ;
}

.cover a {
    color: rgba(0, 0, 0, 0.9);
    ;
}

.thumbnail .cover>a {
    position: relative;
    /*   position: absolute;1030 by Eric */
    top: 95px;
    /*   color: #333; */
    font-size: 32px;
    text-decoration: none;
    /*   display: block;1030 by Eric */
}


/* li {position: relative;}1030 by Eric */

.thumbnail .cover:hover {
    opacity: 1;
}


/* 圖片間距 */

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.3333333%;
}

.clearfix:after,
.row:after {
    content: "";
    display: table;
    clear: both;
}

.row {
    margin: 0 -15px;
}

.row.bordered>div {
    border: 1px solid #f2f2f2;
    margin-left: -1px;
    margin-bottom: -1px;
}

.product {
    padding: 10px 10px;
}

.product .info {
    padding: 15px 0;
    text-align: center;
}

.product .title {
    margin: 0;
}

.product .title a {
    color: #222;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 1px;
}