body{
	font-family: "微軟正黑體"
}

.cameraimges:hover{
 filter: drop-shadow(5px 8px 2px rgba(0, 0, 0, 0.7));

}

.cameraimges{
	 padding: 0 20px 0 20px;
	 
}

.center{
	width: 1500px;
	margin: auto;
	text-align: center;
		
}

.leftcamera{
	float: left;
}
/* 模糊效果 */
/*  filter: drop-shadow(0px 0px 10px rgba(0,0,0,.5)) contrast(200%) blur(2px); */

/* 照片牆 */
  body {
  width: 100%;
  box-sizing: border-box;
}

.gallery-images {
  margin: 10%;
  padding: 50px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  float: left;
}

.gallery-images .image {
  width: 250px;
  overflow: hidden;
  cursor: pointer;
}

.gallery-images .image img {
  width: 90%;
}



.gallery-lightbox {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    transition: opacity .5s;
    moz-transition: opacity .5s; 
}

.gallery-lightbox .gallery-lightbox-image {
    height: 100%;
    width: 100%;
    margin: auto;
    padding: auto;
    text-align: center; 
}

.gallery-lightbox img {
    align: center;
    max-height: 90%;
    max-width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    border: 4px solid white; 
}

.gallery-lightbox.hidden {
    opacity: 0;
    pointer-events: none; 
}


/**********
Added styles
**********/

/* 背景圖片 */
/* .gallery-box { */
/*   width: 98vw; */
/*   background-image: url('http://backgrounds.picaboo.com/download/7d/d1/7d1c14db8d6448a197f96f0928119644/cork%20board.jpg'); */
/*   margin-top: -8px; */
/*   margin-left: -8px; */
/*   border: 10px solid #442d08; */
/*   border-left: 10px solid #63471a; */
/*   border-right: 10px solid #63471a; */
/*   box-shadow: inset 1px 2px 10px black; */
/* } */

/******
Pin
*******/
.gallery-images .image::after {
  content: ' ';
  position: fixed;
  margin-left: -120px;
  margin-top: 5px;
  width: 10px;
  height: 10px;
  border-radius: 20px;
  background-color: #F00000;
  z-index: 2;
  box-shadow: 0.5px 0.5px 0 #C90000, 2px 2px 5px black, inset 1px 1px 5px white;
}

.gallery-images .image img {
  border: solid 4px white;
  box-shadow: 1px 1px 10px black;
}


.skew-right {
  transform: rotate(5deg);
}

.skew-left {
  transform: rotate(-3deg);
}

.skewed-straight {
  transform: rotate(1deg);
}

.skew-right, .skew-left, .skewed-straight {
  transition: all 0.3s;
}

.skew-right:hover,
.skew-left:hover,
.skewed-straight:hover {
  transform: rotate(0);
}

section {
  width: 240px;
  margin: 3px;
  margin-bottom: 30px;
  background-color: white;
  transform: rotate(15deg);
}

/* 作品分享 */

.imagee{
	border: 10px solid #ffffff;
	border-bottom:100px  solid #ffffff;
	box-shadow: 1px 1px 10px black;
	padding: 0 20px 0 0;
	
}