/* 表頭路徑 */

@media (max-width: 750px) {
    .flex-container,
    .flex-big-container {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.flex-container {
    position: relative;
    width: 100%;
    margin: auto;
}


/* 表頭樣式 */

@media (max-width: 750px) {
    #breadcrumbs {
        padding: 0px 10px;
        line-height: 20px;
        display: table-cell;
        vertical-align: middle;
        height: 70px;
    }
}

#breadcrumbs {
    letter-spacing: 2px;
}

@media (max-width: 750px) {
    .flex-col-7 {
        width: 100%;
    }
}


/* 斜線 */

#breadcrumbs a:after {
    content: " / ";
}

:after {
    box-sizing: border-box;
}


/* 主題文字中間 */

.picture {
    display: block;
    margin: 20px auto;
    text-align: center;
}


/*全部*/

div {
    padding: 0;
    border: 0;
    font-size: 100%;
}

html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    margin: 0;
    font-family: Roboto, 微軟正黑體, Arial, Helvetica, "Microsoft JhengHei", 新細明體, "Lucida Grande", "Lucida Sans Unicode", sans-serif !important;
    font-size: 14px;
    color: #333;
    line-height: 20px;
}

.ab {
    list-style-type: none;
}