* {
	box-sizing: border-box;
	font-family: "微軟正黑體";
}

html, body {
	height: 100%;
}



/* logo變色*/
.generic-anchor {
	color: #28a745;
}

.generic-anchor:visited {
	color: #28a745;
}

.generic-anchor:hover {
	color: #373737;
}

/* logo大小 */
.flex-rw {
	text-align: center;
	font:18px "Open Sans", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding: 20px 20px 20px 20px;

}

footer {
	background: #ffffff;
	padding:0;
	margin:0;
	margin-top: auto;
	width: 100%;
}


.footer-list-anchor {
	font: 1.3em "Open Sans", sans-serif;
}

.footer-social-section {
	width: 100%;
	align-items: center;
	justify-content: space-around;
	position: relative;
	margin-top: 5px;
}

.footer-social-section::after {
	content: "";
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 10px;
/* 	border-top: 1px solid #ccc; */
	width: calc(100% - 20px);
}

.footer-social-overlap {
	position: relative;
	z-index: 2;
	background: #ffffff;
	padding: 0 30px;
	margin: auto;
}

.footer-social-connect {
	display: flex;
	align-items: center;
	font: 2.5em "Oswald", sans-serif;
	color: #373737;
}

.footer-social-small {
	font-size: 1em;
	padding: 0px 20px;
}

.footer-social-overlap>a {
	font-size: 2em;
	
}

.footer-social-overlap>a{


margin-left:0.38em;
}
.footer-bottom-section {
	width: 100%;
	padding: 10px;
	margin: auto;
	margin-top: 2px;
}

.footer-bottom-section>div:first-child {
	margin-right: auto;
}

/*下面標語 */
.footer-bottom-wrapper {
	font-size: 12pt;
	font-weight: bold;
	font-family: "微軟正黑體","Microsoft Jhenghei", sans-serif;
	color: #373737;
	text-align: center;
	
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.footer-address {
	display: inline;
	font-style: normal;
}

