 body {
  background: url("https://s24.postimg.org/mt243hcdx/image.png") repeat;
  font-family: "微軟正黑體";
}

#page-content-wrapper {
  padding: 15px;
}
#page-content-wrapper .component-wrapper {
  border: 0.1em solid rgba(150, 150, 150, 0.6);
  background-color: #fcfcfc;
  border-radius:10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1), 0 1px 4px rgba(0, 0, 0, 0.2);
}

.tabs-left {
  padding: 0;
  margin-bottom: -0.2em;
  border: 0;
  border-right: 0.1em solid rgba(150, 150, 150, 0.5);
  background-color: rgba(220, 220, 220, 0.5);
}
.tabs-left > li {
  float: none;
  margin: 0;
  margin-right: -0.1em;
}
.tabs-left > li.nav-title {
  color: #1e1e1e;
  padding: 1em 1.5em;
  text-transform: uppercase;
  font-weight: bold;
}
.tabs-left > li > a {
  display: block;
  padding-left: 2em;
  border-radius: 0;
  color: rgba(30, 30, 30, 0.8);
}
.tabs-left > li > a:hover, .tabs-left > li > a:focus {
  background-color: rgba(220, 220, 220, 0.8);
  border-left: 0.2em solid #28a745;
  padding-left: 1.9em;
  margin-right: 0.1em;
}
.tabs-left > li.active > a, .tabs-left > li.active > a:hover, .tabs-left > li.active > a:focus {
  color: #fcfcfc;
  padding-left: 1.9em;
  margin-right: 0;
  border-color: rgba(150, 150, 150, 0.5);
  border-right-color: transparent;
  border-left: 0.2em solid #fcfcfc;
  background-color: #28a745;
}

