     
body {
	font-family: 'Sintony',"微軟正黑體", sans-serif;
	color:#e5e5e5;
	font-size: 12px;
/* 	background: #bfbfbf; */
	line-height: 1;
}
*, *:before, *:after {
    box-sizing: border-box;
}
/** * Eric Meyer's Reset CSS v2.0 (https://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
/* html, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	
}HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
header h2 {
	margin: 25px 10px;
font-size: 28px;
text-align: center;
color: cornsilk;
}

nav.menu {
	background: rgb(255, 255, 255);
	position: relative;
	min-height: 45px;
	height: 100%;
	
}

.menu > ul > li {
	list-style: none;
	display: inline-block;
	color: #fff;
	line-height: 45px;
	
}
.menu > ul li a, .xs-menu li a {
	text-decoration: none;
	color: rgb(53, 53, 56);
	font-family: 微軟正黑體;
	font-weight: bold;
	 display:block;
	 padding: 5px 24px;
	 font-size: 20px;
}
.menu > ul li a:hover {
	color: #28a745;
	transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
}
.active{
	background:#444 !important;
	
}
.displaynone{
	display: none;
}
.xs-menu-cont{
display:none;
}
.xs-menu-cont > a {
    background: none repeat scroll 0 0 #28a740;
    border-radius: 3px;
    padding: 3px 6px;
	display: block;
/* 	border-bottom:1px solid #28a745; */
/* 	    box-shadow: 0 1px 2px #28a745; */
/* 		-webkit-box-shadow: 0 1px 2px #28a745; */
/* 		-moz-box-shadow: 0 1px 2px #28a745; */
}
.xs-menu-cont > a:hover{
 cursor: pointer;
}
  
.xs-menu li {
color: #fff;
padding: 14px 30px;
border-bottom: 1px solid #ccc;
background: #28a745;

}
.xs-menu  a{
text-decoration:none;
}

/* 產品 */
.mega-menu {
/*     background:rgb(248, 248, 236); */
     background: none repeat scroll rgb(255, 255, 255,0.9);
     left: 0;
     margin-top: 3px;
     position: absolute;
     width: 100%;
     padding:15px;
     display:none;
     transition-duration: 0.9s;
      margin: 0 auto;
 }
 
/* 主題 */
.mega-menu12 {
    background: none repeat scroll 	rgb(255, 255, 255,0.9);
     left: 0;
     margin-top: 3px;
     position: absolute;
     width: 100%;
     padding:15px;
     display:none;
     transition-duration: 0.9s;
     margin: 0 auto;
     
 }

#menutoggle i {
    color: #fff;
    font-size: 33px;
    margin: 0;
    padding: 0;
}


/*--column--*/
.mm-6column:after, .mm-6column:before, .mm-3column:after, .mm-3column:before{
content:"";
display:table;
clear:both;


}

.mm-6column,.mm-3column {
 float: left;
 position: relative;
 }
.mm-6column {
    width: 50%;
}
.mm-3column {
  width: 25%;
}
.responsive-img {
    display: block;
    max-width: 100%;

}
/* 調下拉產品大小 */
.left-images{
/* margin-right:10px; */
width: 16%;
padding: 0 20px 0 0 ;
}

.left1-images{
/* margin-right:25px; */
width: 35%;

}
.left1-images, .left-images, .left-categories-list {
   float: left;
}
.categories-list li {
    display: block;
    line-height: normal;
    margin: 0;
    padding: 5px 0;
}
.categories-list li :hover{
		background:inherit !important;
}
.left-images > p {
/*     background: none repeat scroll 0 0 #28a745; */
    display: block;
    font-size: 18px;
    line-height: normal;
    margin: 0;
    padding: 5px 14px;
}
.categories-list span {
    font-size: 18px;
    padding-bottom: 5px;
    text-transform: uppercase;
}
.mm-view-more{
	background: none repeat scroll 0 0 #28a745;
    color: rgb(248, 248, 236);
    display: inline !important;
    line-height: normal;
    padding: 5px 8px !important;
	margin-top:10px;
}
/* 產品下拉 */
.display-on{
display:block;
 transition-duration: 0.9s;
 width: 100%;
 z-index: 100; /*調高度最高*/
}
.drop-down > a:after {
content:"\f103";
color:rgb(53, 53, 56);
font-family: FontAwesome;
font-style: normal;
margin-left: 5px;

} 


/* 主題 */

/* .display-on12{ */
/* display:block; */
/*  transition-duration: 0.9s; */
/*  width: 100%; */
/*  z-index: 100; 調高度最高 */
/* } */
/* .drop-down12 > a:after { */
/* content:"\f103"; */
/* color:rgb(53, 53, 56); */
/* font-family: FontAwesome; */
/* font-style: normal; */
/* margin-left: 5px; */
 

/* }  */
/* .drop-down12{ */
/* 	color: #28a745; */
/* }  */

 /*MediaQuerys*/
 @media (max-width: 600px) {
 .xs-menu li a {

	 padding:0px;
}
 .xs-menu-cont{
 display:block ;
 }
 }


/*Animation--*/

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

/*後面增加的*/

.position-left {
	display: inline;
	float: left;
	padding: 10px 24px;
	
}
.position-right {
	display: inline;
	float: right;
	padding: 10px 24px;
	
}
ul.ul-center {
	text-align: center;
}
.font{
	color: rgb(53, 53, 56);
	font-family: 微軟正黑體;
	font-weight: bold;
	 padding: 5px 24px;
	 font-size: 20px;
}

.font2{
	color: black;
	font-family: 微軟正黑體;
	font-weight: bold;
	 padding: 5px 24px;
	 font-size: 20px;
}

.font3{
	color:  black;
	font-family: 微軟正黑體;
	font-weight: bold;
	 padding: 5px 24px;
	 font-size: 20px;
}

/* 固定 */
.ed{
	width: 100%;
/* 	position: fixed; */
	
}
nav{
	position: fixed;
}

