/* 表單 */

li,
ul {
    list-style: none;
}

.radios {
    text-align: center top;
    margin: -10px 0 -10px 0;
}

.block-ef {
    width: 1000px;
    padding: 40px;
    /*     box-sizing: border-box; */
    text-align: center;
    background: #efefef;
    margin: auto;
}

.pj-basic {
    /*1118新增*/
    display: table-cell;
    text-align: center;
    /*1118新增*/
    vertical-align: middle;
}

.pj-formbox {
    text-align: center;
}

td {
    float: left;
    border: 20px;
}

table {
    padding: 20px;
    border: 20px;
}

.sta {
    float: left;
    /* 	padding:-10px ; */
    text-align: center;
    /*     margin: -10px 0 -10px 0;  */
}

body {
    margin: 0;
    font-family: Roboto, 微軟正黑體, Arial, Helvetica, "Microsoft JhengHei", 新細明體, "Lucida Grande", "Lucida Sans Unicode", sans-serif !important;
    font-size: 14px;
    color: #333;
    line-height: 20px;
}