/*base*/

*{
	margin: 0;
	padding: 0;
}

body{
	padding-top:56px;
	font-size: 16px;
	font-family: "微軟正黑體" ,Arial;
}

a.prominent{
	color:#ffdd00 !important;
}

a.prominent:hover{
	color:#ffdd00 !important;
}

textarea{
  resize: none;  
}

.m-t-15{
    margin-top:15px;
}

.m-r-15{
    margin-right: 15px;
}

.form-control{
    box-shadow:none;
}

.col-jb-1-5{
    width: 20%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
}

#Gotop {
    display: none;
    right: 20px;
    bottom: 245px;
    cursor: pointer;
    z-index: 10;
    background:url(../images/gototop.png) no-repeat;
    width: 64px;
    height: 64px;
}

@media (max-width: 767px){
    #Gotop{
        width: 32px;
        height: 32px;
        background-size:cover;
        bottom: 245px;      
    }
}

/*文字顏色*/
.text-green{
    color: #8CC63F;
}

/*按鈕設定*/
/*按鈕設定-綠色*/
.btn-jb-green {
  color: #524943;
  background-color: #ffffff;
  border-color: #524943;
}

.btn-jb-green:hover,
.btn-jb-green:focus,
.btn-jb-green:active,
.btn-jb-green.active,
.open .dropdown-toggle.btn-jb-green {
  color: #ffffff;
  background-color: #8cc63f;
  border-color: #8cc63f;
}

.btn-jb-green:active,
.btn-jb-green.active,
.open .dropdown-toggle.btn-jb-green {
  background-image: none;
}

.btn-jb-green.disabled,
.btn-jb-green[disabled],
fieldset[disabled] .btn-jb-green,
.btn-jb-green.disabled:hover,
.btn-jb-green[disabled]:hover,
fieldset[disabled] .btn-jb-green:hover,
.btn-jb-green.disabled:focus,
.btn-jb-green[disabled]:focus,
fieldset[disabled] .btn-jb-green:focus,
.btn-jb-green.disabled:active,
.btn-jb-green[disabled]:active,
fieldset[disabled] .btn-jb-green:active,
.btn-jb-green.disabled.active,
.btn-jb-green[disabled].active,
fieldset[disabled] .btn-jb-green.active {
  background-color: #ffffff;
  border-color: #524943;
}

/*按鈕設定-黃色*/
.btn-jb-yellow {
  color: #FFDD00;
  background-color: #524943;
  border-color: #ffdd00;
}

.btn-jb-yellow:hover,
.btn-jb-yellow:focus,
.btn-jb-yellow:active,
.btn-jb-yellow.active,
.open .dropdown-toggle.btn-jb-yellow {
  color: #ffffff;
  background-color: #ffdd00;
  border-color: #ffdd00;
}

.btn-jb-yellow:active,
.btn-jb-yellow.active,
.open .dropdown-toggle.btn-jb-yellow {
  background-image: none;
}

.btn-jb-yellow.disabled,
.btn-jb-yellow[disabled],
fieldset[disabled] .btn-jb-yellow,
.btn-jb-yellow.disabled:hover,
.btn-jb-yellow[disabled]:hover,
fieldset[disabled] .btn-jb-yellow:hover,
.btn-jb-yellow.disabled:focus,
.btn-jb-yellow[disabled]:focus,
fieldset[disabled] .btn-jb-yellow:focus,
.btn-jb-yellow.disabled:active,
.btn-jb-yellow[disabled]:active,
fieldset[disabled] .btn-jb-yellow:active,
.btn-jb-yellow.disabled.active,
.btn-jb-yellow[disabled].active,
fieldset[disabled] .btn-jb-yellow.active {
  background-color: #524943;
  border-color: #ffdd00;
}

/*按鈕設定-咖啡*/
.btn-jb-coffee {
  color: #ffffff;
  background-color: #524943;
  border-color: #3d3a38;
}

.btn-jb-coffee:hover,
.btn-jb-coffee:focus,
.btn-jb-coffee:active,
.btn-jb-coffee.active,
.open .dropdown-toggle.btn-jb-coffee {
  color: #ffffff;
  background-color: #655952;
  border-color: #4a4644;
}

.btn-jb-coffee:active,
.btn-jb-coffee.active,
.open .dropdown-toggle.btn-jb-coffee {
  background-image: none;
}

.btn-jb-coffee.disabled,
.btn-jb-coffee[disabled],
fieldset[disabled] .btn-jb-coffee,
.btn-jb-coffee.disabled:hover,
.btn-jb-coffee[disabled]:hover,
fieldset[disabled] .btn-jb-coffee:hover,
.btn-jb-coffee.disabled:focus,
.btn-jb-coffee[disabled]:focus,
fieldset[disabled] .btn-jb-coffee:focus,
.btn-jb-coffee.disabled:active,
.btn-jb-coffee[disabled]:active,
fieldset[disabled] .btn-jb-coffee:active,
.btn-jb-coffee.disabled.active,
.btn-jb-coffee[disabled].active,
fieldset[disabled] .btn-jb-coffee.active {
  background-color: #524943;
  border-color: #3d3a38;
}

/*無紀錄顯示*/
.null-type{
    text-align: center;
}

.null-type img{
    max-width: 150px;
    margin-top:15px;
}

.null-type p{
    color: #808080;
}

/*區塊設定*/
section{
    padding-top: 60px;
    padding-bottom: 60px;
}

section.bg-gray{
    background: #F2F2F2;
}

/*頁面標題-主*/
.section-title{
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 15px;
    color: #524943;
}

.title-line{
    border-bottom: 3px solid #524943;
    margin-bottom: 15px;
}

.title-line:before{
    content: "";
    display: block;
    text-align: center;
    height: 32px;
    background: url(../images/title-line-bg.png) no-repeat center 4px;

}

.section-title-sub{
    text-align: center;
    color:#8CC63F;
    margin-bottom: 30px;
}


/*潔寶選單*/
.navbar{
	min-height: 56px;
	border-radius: 0;
	margin-bottom: 0;
}

.navbar-brand {
    float: left;
    height: 56px;
    padding: 15px 15px;
    font-size: 20px;
    line-height: 26px;
}

.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 36px
}


.navbar-inverse {
    background-color: #524943;
    border-color: #524943;
}

.navbar-inverse .navbar-brand {
    color: #f2f2f2;
}

.navbar-inverse .navbar-text {
    color: #f2f2f2;
}

.navbar-inverse .navbar-nav>li>a {
    color: #f2f2f2;
}

.navbar-inverse .navbar-nav>li>a:focus,.navbar-inverse .navbar-nav>li>a:hover {
    color: #fff;
    background-color: #3c342e;
}

.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.active>a:focus,.navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #524943;
}

.navbar-inverse .navbar-toggle {
    border-color: #333
}

.navbar-inverse .navbar-toggle:focus,.navbar-inverse .navbar-toggle:hover {
    background-color: #333
}

.navbar-inverse .navbar-collapse,.navbar-inverse .navbar-form {
    border-color: #101010
}

.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a:focus,.navbar-inverse .navbar-nav>.open>a:hover {
    background-color: #3c342e;
}

.dropdown-menu{
	font-size: 16px;
}

@media (max-width: 767px) {

	.navbar-nav>li>a {
	    padding-top: 10px;
	    padding-bottom: 10px;
	    line-height: 26px
	}

    .navbar-nav .open .dropdown-menu {
        background-color: #3c342e;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu>.dropdown-header {
        border-color:#524943;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
        background-color: #524943;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        color: #f2f2f2;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a,.navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:focus,.navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:hover {
        color: #fff;
        background-color: #524943;
    }

	.dropdown-menu{
		padding-top:0;
		padding-bottom: 15px;
	}

}


/*頁尾資訊區*/
footer{
    padding-top:30px;
    padding-bottom: 30px;
    background: #524943;
    color: #fff;
    font-size: 15px;
}

footer a{
    color: #f2f2f2;
}

footer a:hover{
    color: #fff;
}

footer .col-jb-1-5{
    padding-top: 5px;
    padding-bottom: 5px;
}

.footer-menu-title{
    color:#FFDD00;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 900;
}

footer .logo{
    font-size: 20px;
    margin-bottom: 30px
}

footer .address{
    margin-bottom: 15px;
}

footer .btn{
    font-size: 18px;
    border-radius: 0;
    margin-right: 15px;
    margin-top: 15px;
}

/*首頁輪播*/

.swiper-container {
    max-height: 620px;
}

.swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    background: #fff;
    opacity: .5;
}

.swiper-pagination-bullet-active {
    background: #ffdd00;
    opacity: 1;
}



/*選擇服務項目-項目列表*/

.service-item{}
.service-item .item-title{
    color: #524943;
    font-size: 18px;
    font-weight: 900;
    margin-top:15px;
}
.service-item img{
    margin: 0 auto 15px;
}
.service-item .item-price{
    color: #8CC63F;
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 10px;
}
.service-item .item-intro{
    color:#808080;
    font-size: 15px;
    margin-bottom: 10px;
}
.service-item .btn{
    font-size: 18px;
    border-radius: 0;
    margin-bottom: 40px;
}

.service .row:last-child .service-item .btn{ 
    margin-bottom: 0;
}

@media (max-width: 767px){
    .service .row:last-child .service-item .btn{ 
        margin-bottom: 40px;
    }

    .service .row:last-child [class^=col-]:last-child .btn{ 
        margin-bottom: 0;
    }    
}

/*如何預約潔寶服務*/

.step-item .item-title{
    color: #EF63A0;
    font-size:18px;
    margin-bottom: 15px;
    font-weight: 900;
}

.step-item img{
    border: 1px solid #cccccc;
    border-radius: 8px;
    margin: 0 auto 15px auto;
}

.step-item .item-intro{
    color: #808080;
    font-size:18px;
    text-align: justify;
}

@media (max-width: 767px){
    .step-item .item-intro{
        margin-bottom: 15px;
    }
    .step .row:last-child [class^=col-]:last-child .item-intro{ 
        margin-bottom: 0;
    }   
}


/*潔寶優勢*/
.features-item img{
    margin: 0 auto 15px;
    border:#95989A 1px solid;
    background: #fff;
}
.features-item .item-title{
    color: #524943;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 900;
}
.features-item .item-intro{
    color: #808080;
}

@media (max-width: 767px){
    .features-item .item-intro{
        margin-bottom: 15px;
    }
    .features .row:last-child [class^=col-]:last-child .item-intro{ 
        margin-bottom: 0;
    }   
}


/*服務介紹頁*/
.service-introduction-left{
    text-align: center;
    padding-top:30px;
}

.service-introduction-left img{
    margin: 0 auto 10px;
}

.service-introduction-left .item-title{
    margin-bottom: 5px;
    font-size: 18px;
    color: #524943;
}

.service-introduction-left .item-hours{
    color:#8CC63F;
}

.service-introduction-right{
    padding-top:30px;
}

.service-introduction-right p{
    font-size: 18px;
    color:#524943;
}

.service-introduction-right .annotation{
    color: #8CC63F;
}


/*常見問題*/
.qa-menu{
    padding:30px 0;
}
.qa-menu .btn{
    font-size: 16px;
    border-radius: 0;
    margin-right: 15px;
}

.qa .item-title{
    color: #808080;
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 20px;
    border-bottom: 1px solid #524943;
    padding-bottom: 15px;
}

.qa ul, .qa li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.qa ul.accordionPart li {
    border-bottom: solid 1px #DDDDDD;
    padding-bottom: 15px;
    margin-top: 15px;
}
.qa ul.accordionPart li .qa_title {
    color: #524943;
    cursor: pointer;
    font-size: 20px;
}
.qa ul.accordionPart li .qa_content {
    margin: 6px 0 0;
    padding-left: 40px;
    color: #808080;
}

.qa .number{
    color: #8CC63F;
    font-size: 30px;
    margin-right: 5px;
}

.qa i{
    margin-left: 5px;
}


/*表單基本設定*/

.checkbox {
    padding-left: 20px; }
.checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 22px;
    height: 22px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 21px;
    height: 21px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 16px;
    color: #555555; }
.checkbox input[type="checkbox"] {
    opacity: 0; }
.checkbox input[type="checkbox"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
.checkbox input[type="checkbox"]:checked + label::after {
    font-family: 'FontAwesome';
    content: "\f00c"; }
.checkbox input[type="checkbox"]:disabled + label {
    opacity: 0.65; }
.checkbox input[type="checkbox"]:disabled + label::before {
    background-color: #eeeeee;
    cursor: not-allowed; }
.checkbox.checkbox-circle label::before {
    border-radius: 50%; }
.checkbox.checkbox-inline {
    margin-top: 0; }

.checkbox-success input[type="checkbox"]:checked + label::before {
    background-color: #5cb85c;
    border-color: #5cb85c; }
.checkbox-success input[type="checkbox"]:checked + label::after {
    color: #fff; }

.radio {
    padding-left: 20px; }
.radio label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
.radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 21px;
    height: 21px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out; }
.radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 15px;
    height: 15px;
    left: 3px;
    top: 3px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
.radio input[type="radio"] {
    opacity: 0; }
.radio input[type="radio"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
.radio input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1); }
.radio input[type="radio"]:disabled + label {
    opacity: 0.65; }
.radio input[type="radio"]:disabled + label::before {
    cursor: not-allowed; }
.radio.radio-inline {
    margin-top: 0; }


.radio-green input[type="radio"] + label::after {
    background-color: #8CC63F; }
.radio-green input[type="radio"]:checked + label::before {
    border-color: #8CC63F; }
.radio-green input[type="radio"]:checked + label::after {
    background-color: #8CC63F; }


.radio-success input[type="radio"] + label::after {
    background-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::before {
    border-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::after {
    background-color: #5cb85c; }


/*表單1*/
.form01 .memo-box{
    background: #F2F2F2;
    padding: 30px 15px 30px 15px;
    color: #524943;
    border-radius: 15px;   
}

.form01 .space{
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0;
    border-top: 1px solid transparent;    
}

.form01 .stress{
    font-size: 24px;
    color: #8CC63F;
}

.form01 .estimated{
    font-size: 18px;
}

.form01 .big-font:after{
    content: "";
    font-size: 24px;
}

.form01 .memo-box hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #524943;
}

.form01 .memo-box-title{
    font-size: 20px;
    margin-bottom: 15px;
}


.form01 .memo-box ul, .form01 .memo-box li{
    margin: 0;
    padding: 0;
    list-style: none;
}

.form01 .memo-box li{
    margin-bottom: 15px;
}

.form01 .memo-box li:last-child{
    margin-bottom: 0px;
}

.form01 .memo-box ul li a{
    color: #8CC63F;
}

.form01 .memo-box ul li a i{
    margin-right: 5px;
}

@media ( max-width: 585px ) {
    .input-group span.input-group-btn,.input-group input,.input-group button{
        display: block;
        width: 100%;
        border-radius: 0;
        margin: 0;
    }
    .input-group {
        position: relative;   
    }
    .input-group span.data-up{
        position: absolute;
        top: 0;
    }
    .input-group span.data-dwn{
        position: absolute;
        bottom: 0;
    }
    .form-control.text-center {
        margin: 34px 0;
    }
    .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group{
        margin-left:0;
    }

}

/*表單2*/

/*編輯區*/
.form02-intro{
    background: #524943;
    padding: 15px;
    color: #fff;
    border-radius: 15px;
    line-height: 30px;
}

.editor-box{
    color:#524943;    
}

.editor-box h3{
    font-size: 18px;
    font-weight: 900;
    margin: 30px 0 15px 0; 
    overflow: hidden; 
}

.editor-box h3:after {
    content: "";
    background: #524943;
    display: inline-block;
    height: 1px;
    position: relative;
    width: 100%;
    vertical-align: middle;
    left: 0.5em;
    margin-right: -42%;
}

.editor-box img{
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 15px; 
}

/*表單區*/

.form02 .form-box{
    border:1px solid #524943;
    border-radius: 15px;
    padding: 20px 15px 15px 15px;
}


.form02 .form-box label{
    color:#524943;
}

.form02 .form-box input, .form02 .form-box textarea,.form02 .form-box select,.form02 .form-box .radio,.form02 .form-box .checkbox{
    border-color:#CCCCCC;
    box-shadow:none;
    font-size: 16px;
    margin-bottom: 15px;
}

a.consent-item{
    font-size: 16px;
    color: #8CC63F;
}

.form02 a.btn{
    color: #fff;
    font-size: 16px;
    margin-bottom: 15px;
}

/*步驟標示*/
.stepwizard-step p {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 15px;
    color:#808080;  
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;     
    width: 100%;
    position: relative;
}

@media (max-width: 767px){
    .stepwizard{
        margin-top:15px;
    }
    .form01 .btn-jb-coffee{
        margin-top:15px;
    }

    .form01 .modal .btn-jb-coffee{
        margin-top:0px;
    }

    .form01 .radio.radio-inline{
        margin-top:15px;
    }
}

.stepwizard-row:before {
    top: 20px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
    
}

.stepwizard-step {    
    display: table-cell;
    text-align: center;
    position: relative;
}

.stepwizard-step .btn-circle {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 20px;
  line-height: 40px;
  border-radius: 40px;
  padding: 0;
}

.stepwizard-step .btn{
    cursor: default;
}

.stepwizard-step .btn.active-step{
    background: #8CC63F;
    color: #fff;
}

.stepwizard-step .btn{
    background: #CCCCCC;
    color: #fff;
}

.stepwizard-step .btn.fin-step{
    background: #524943;
    color: #fff;    
}


.form01 .precautions-box{
    padding: 15px 15px 15px 15px;
    color: #808080;
    border-radius: 15px;
    border: 1px solid #8CC63F;
    margin-bottom: 30px;  
}

.form01 .precautions-box i{
    margin-right: 5px;
}

.form01 .precautions-box a{
    color: #8CC63F;
}


.form01 .lable-name{
    color: #808080;

}
.form01 .checkbox,.form01 .radio {
    margin-top:0;
    margin-bottom:0;
}

.form01 .radio-inline+.radio-inline{
    margin-left: 0;
}

.form01 .radio-inline{
    margin-right: 10px;
}

/*選擇服務*/
.type-select label{
    position: relative;
    padding-left: 0;
    background-color: #fff;
    cursor: pointer;
}

.type-select input{
    opacity: 0;
    position: absolute;
    right:0;
}


.type-select input + img{
    opacity: 1;
}

.type-select input:checked + img{
    border: 3px solid #FFDD00;
}


/*關於我們*/
.about{
    text-align: center;
    background: url(../images/about-bg.jpg) bottom center #f2f2f2;
}

.about-box{
    background-color:rgba(255,255,255,0.8);
    padding: 30px;
    font-size: 20px;
    line-height: 40px;
}

.about .about-box .title-line{
    margin-bottom: 30px;
}

.about2-text p{
    line-height: 30px;
    letter-spacing: 3px;
}

.about2-text-title{
    font-size: 28px;
    margin-bottom: 15px;
}

.about2 .section-title{
    border:1px dashed #ccc;
    line-height: 50px;
    border-radius: 50px;
    margin-bottom: 60px;
}
.good-jb{
    border-radius: 50px;
    padding: 15px;
    background: #8CC63F;
    color: #fff;
    font-size: 20px;
    font-weight: 900;
}


@media (max-width: 767px){
    .about{
        text-align: left;
        background-image: url(../images/about-bg-mob.png);
    }
    .about-box{
        background-color:rgba(255,255,255,0);
        padding: 15px;
        font-size: 20px;
        line-height: 30px;
    }
    .about .about-box .title-line{
        margin-bottom: 30px;
    }

    .about2-text-title{
        margin-top:15px;
    }
}



/*登入/註冊*/
.form02 a.btn.btn-link{
    color: #8CC63F;
    margin-bottom: 0;
}


/*會員專區*/

.list-group-item.active,.list-group-item.active:focus,.list-group-item.active:hover {
    z-index: 2;
    color: #fff;
    background-color: #8CC63F;
    border-color: #8CC63F
}

/*網頁錯誤*/
.error img{
    margin: 0 auto;
}
.error p{
    line-height: 30px;
}