* {
    margin: 0;
    padding: 0;
}

html,
body {
    margin: 0;
    font-family: "微軟正黑體";
}

.steps {
    /* background-color: #ededed;原本設定 */
    background-color: #ffffff;
    /* margin: 4px 0;原本設定 */
    margin: 0 auto;
}

.steps ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0 0 0.5em 0;
    padding: 0;
    /*以下新增by Eric*/
    width: 100%;
}

.steps ul li {
    height: 4em;
    position: relative;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    color: #aaa;
    font-weight: bolder;
    font-size: 25px;
    background-color: #ededed;
    /*新增 by Eric*/
}

.steps ul li::after,
.steps ul li::before {
    content: '';
    position: absolute;
    border: 1px solid #fff;
    top: 0;
}

.steps ul li::after {
    left: 100%;
    border-width: 2em 0em 2em 1em;
    border-color: transparent transparent transparent #ededed;
    /*三角形陰影顏色控制*/
    box-shadow: -3px 0px 0 #ededed;
}

.steps ul li::before {
    left: calc(100% + 3px);
    border-width: 2em 0em 2em 1em;
    border-color: transparent transparent transparent #fff;
    box-shadow: -3px 0px 0 #ededed;
}

.steps ul li.done {
    background-color: #d2e2f0;
    color: #434343;
    text-shadow: 0px 2px 5px rgba(255, 255, 255, 0.95);
}

.steps ul li.done::after {
    border-color: transparent transparent transparent #d2e2f0;
    box-shadow: -3px 0px 0 #d2e2f0;
}

.steps ul li.active {
    background-color: #28a745;
    color: #fff;
    text-shadow: 0px 2px 5px rgba(15, 29, 40, 0.95);
}

.steps ul li.active::after {
    border-color: transparent transparent transparent #28a745;
    box-shadow: -3px 0px 0 #28a745;
}

.steps ul li:not(:last-child) {
    margin-right: 0em;
}

.steps ul li:last-child::after,
.steps ul li:last-child::before {
    display: none;
}

.steps ul li:nth-child(1) {
    z-index: 3;
}

.steps ul li:nth-child(2) {
    z-index: 2;
}


/*收货地址CSS*/

.cartTop {
    clear: both;
    height: 45px;
}


/* 表頭css */

.countBalance {
    width: 500px;
    float: left;
    margin-top: 15px;
    text-align: left;
}


/* 購物車內容  */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "微软雅黑";
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.cartMain table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
    text-align: center;
    /* width: 1000px; */
    width: 100%;
}

.cartMain th,
td {
    border-bottom: 1.5px solid #e9e4de;
    height: 160px;
}

.cartMain th {
    height: 50px;
    line-height: 50px;
    font-weight: normal;
}

.cartMain td {
    padding: 10px 10px;
    color: #444;
    font-weight: bolder;
}

tbody tr:hover {
    background: #F2F9F9;
}

.delete {
    display: block;
    background-color: #F2F9F9;
    color: #b5b5b5;
    border: solid 2px #b5b5b5;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    height: 33px;
    line-height: 33px;
    width: 130px;
    font-weight: bold;
}

.delete:hover {
    background-color: #28a745;
    border: solid 2px #28a745;
    color: #fff;
}


/*單一刪除的設定*/

.opration {
    font-size: 15px;
    width: 140px;
    text-align: center;
    margin: auto;
}

.deleteOne {
    display: block;
    height: 33px;
    line-height: 33px;
    width: 130px;
    color: #b5b5b5;
    border: solid 2px #b5b5b5;
    border-radius: 8px;
    background-color: #F2F9F9;
    cursor: pointer;
}

.deleteOne:hover {
    background-color: #28a745;
    border: solid 2px #28a745;
    color: #fff;
}
.download {
    display: block;
    height: 33px;
    line-height: 33px;
    width: 130px;
    color: #b5b5b5;
    border: solid 2px #b5b5b5;
    border-radius: 8px;
    background-color: #F2F9F9;
    cursor: pointer;
}

.download:hover {
    background-color: #28a745;
    border: solid 2px #28a745;
    color: #fff;
}

.on {
    background-color: #eee;
}

.goodsTitle {
    color: #c81622;
}

.content {
    width: 1500px;
    margin: auto;
}

.check {
    cursor: pointer;
}

.checkbox {
    width: 120px;
}

.check-one check {
    width: 80px;
}


/* 主題/商品 */

.goods {
    width: 350px;
    overflow: hidden;
    /*     float: left; */
    text-align: center;
}


/* 商品圖片上面文字 */

.goods span {
    width: 120px;
    margin-top: 16px;
    margin-bottom: 8px;
    text-align: center;
    float: both;
}

.price {
    width: 130px;
    text-align: left;
    padding: 0;
}


/*NT$設定*/

.NTspan {
    width: 30px;
    text-align: right;
    padding: 0;
}

.NTspan span {
    color: red;
}


/* 規格 */

.rule {
    font-size: 15px;
    width: 140px;
    text-align: center;
}


/* 數量增加 */

.count {
    width: 120px;
    margin: auto;
    text-align: center;
    vertical-align: middle;
}

.count .add,
.count input,
.count .reduce {
    float: none;
    /*     margin-right: -1px; */
    position: relative;
    z-index: 0;
    text-align: center;
    margin: auto;
    display:inline-block;
}

.count .add,
.count .reduce {
    width: 25px;
    border: 1px solid #C4C1C1;
    background: #ededed;
    text-align: center;
    line-height: 25px;
    color: #444;
   
}

.count .add:hover,
.count .reduce:hover {
    color: #28a745;
    z-index: 3;
    border-color: #28a745;
    cursor: pointer;
    text-align: center;
}

.count input {
    width: 50px;
    height: 25px;
    line-height: 25px;
    /*     height: 15px;原本設定 */
    /*     line-height: 15px;原本設定 */
    border: 1px solid #aaa;
    color: #343434;
    text-align: center;
    padding: 4px 0;
    background-color: #fff;
    z-index: 2;
    display:inline-block;
}

.subtotal {
    width: 150px;
    color: red;
    font-weight: bold;
    text-align: left;
}

.goods img {
    width: 130px;
    height: auto;
    /*border: 1px solid #ccc;*/
    margin-right: 5px;
    float: both;
}

.shopping {
    /* width: 1000px; */
    margin: auto;
    text-align: center;
}


/* 總結算 */

.cartFooter {
    width: 1000px;
    margin-top: 10px;
    color: #666;
    height: 48px;
    /*     border: 1.8px solid #28a745; */
    border-radius: 10px;
    /*     background-color: #ededed; */
    /*     background-image:linear-gradient(RGB(241,241,241),RGB(226,226,226)); */
    position: relative;
    z-index: 8;
}

.cartFooter div {
    line-height: 50px;
    height: 50px;
}

.cartFooter a {
    margin-top: 4px;
    margin-right: 20px;
}

.selall {
    width: 100px;
    float: left;
    margin-left: 20px;
}

.selallSPAN:hover {
    color: red;
    cursor: pointer;
}

.cartFooter .select-all {
    width: 100px;
    height: 48px;
    line-height: 48px;
    padding-left: 5px;
}

.cartFooter .closing {
    height: 48px;
    color: #b5b5b5;
    border: solid 2px #b5b5b5;
    border-radius: 8px;
    text-align: center;
    /*     color: #000; */
    font-weight: bold;
    /*     background: RGB(238,238,238); */
    cursor: pointer;
    width: 150px;
    height: 33px;
    line-height: 33px;
    width: 130px;
    background-color: #F2F9F9;
}


/* 結算 */

.cartFooter .closing:hover {
    color: #ffff;
    background-color: #28a745;
    border: solid 2px #28a745;
    border-radius: 8px;
}

.cartFooter .total {
    margin: 0 20px;
    padding: 0 10px 0 0;
    cursor: pointer;
}

.cartFooter #priceTotal,
.cartFooter #selectedTotal {
    color: red;
    font-family: "Microsoft Yahei";
    font-weight: bold;
}

.cartFooter .selected {
    cursor: pointer;
}

.cartFooter .selected .arrow {
    position: relative;
    top: -3px;
    margin-left: 3px;
}

.cartFooter .selected .down {
    position: relative;
    top: 3px;
    display: none;
}

.show .selected .down {
    display: inline;
}

.show .selected .up {
    display: none;
}

.cartFooter .selected:hover .arrow {
    color: red;
}

.cartFooter .selected-view {
    width: 1000px;
    border: 1px solid #c81622;
    position: absolute;
    height: auto;
    background: #B8D7D7;
    z-index: 9;
    bottom: 48px;
    left: -1px;
    display: none;
}

.show .selected-view {
    display: block;
}

.cartFooter .selected-view div {
    height: auto;
}

.cartFooter .selected-view img {
    width: 130px;
}

.cartFooter .selected-view .arrow {
    font-size: 30px;
    line-height: 100%;
    color: #c81622;
    position: absolute;
    right: 282px;
    bottom: -15px;
}

.cartFooter .selected-view .arrow span {
    color: #B8D7D7;
    position: absolute;
    left: 0px;
    bottom: 2px;
}

#selectedViewList {
    padding: 20px;
    margin-bottom: -20px;
}

#selectedViewList div {
    display: inline-block;
    position: relative;
    width: 130px;
    /*height: 130px;*/
    border: 1px solid #ccc;
    margin: 10px 13px;
}

#selectedViewList .del {
    display: none;
    color: #ffffff;
    font-size: 14px;
    position: absolute;
    bottom: 19px;
    right: 30px;
    width: 70px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    background: #c81622;
    cursor: pointer;
}

#selectedViewList .selCount {
    display: block;
    color: #ffffff;
    font-size: 20px;
    position: absolute;
    top: -10px;
    right: -10px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #c81622;
    border-radius: 16px;
}

#selectedViewList div:hover span {
    display: block;
}