body {
    font-family: 'proxima-nova', sans-serif;
    font-family: "微軟正黑體";

}


/* Create three unequal columns that floats next to each other */


/* .column { */


/*     float: left; */


/*     padding: 10px; */


/* } */

.left,
.right {
    width: 5%;

}

.middle {

    width: 90%;
    width: 1000px;
    margin: auto;

}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;

}


/* Style the tab content */

.tabcontents {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ededed;
    width: 84%;
    border-left: none;
    height: 500px;
    border-radius: 0px 20px 20px 0px;
    /*     background-color: #ededed; */

}


.row {
    margin-bottom: 24px;
    overflow: hidden;
    *zoom: 1;

}

.container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    margin: 0 auto;

}

.container:after {
    content: " ";
    display: block;
    clear: both;

}


p {
    line-height: 24px;
}


h1 {
    font-size: 72px;

}


h2 {
    font-size: 48px;
}


h3 {
    font-size: 36px;

}


h4 {
    font-size: 24px;
    font-family: "微軟正黑體";
}


h5 {
    font-size: 18px;
}

h6 {
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1em;
    font-weight: 700;
}


/* ul { */


/*   margin: 0 0 0 1em; */


/*   padding: 0; */


/* } */

li {
    line-height: 24px;
}

.s {
    font-size: 20px;
    line-height: 24px;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.remove-top {
    margin-top: 0;
}

.remove-bottom {
    margin-bottom: 0;
}

body {
    /*   color: #1B1F2B; */
    color: #000000;
    background: #FFFFFF;
    border-color: #1B1F2B;
}


/* .dark { */


/*   background: #2f364a; */


/*   color: #e6e6e6; */


/*   border-color: #e6e6e6; */


/* } */

nav {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0 2em;
    text-align: center;
    line-height: 72px;
    font-weight: 400;
    font-size: 14px;
}

nav .title {
    padding: 0 1.5em;
    float: left;
}

nav .name {
    position: absolute;
    width: 200px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

nav #light-switch {
    cursor: pointer;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    float: left;
    line-height: 72px;
}

nav .specimen {
    padding: 0 1.5em;
    float: right;
}

section {
    padding: 48px 0;
}

.space-block {
    width: 100%;
    height: 72px;
    border: 1px solid;
    margin-bottom: 24px;
}

.swatch {
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    float: left;
    -moz-border-radius: 48px;
    -webkit-border-radius: 48px;
    border-radius: 48px;
    margin-right: 1em;
    width: 48px;
    height: 48px;
}


/* .swatch.inactive { */


/*   opacity: .3; */


/*   transform: scale(0.8, 0.8); */


/* } */


/* .swatch.active { */


/*   opacity: 1; */


/*   transform: scale(1, 1); */


/* } */


/* .content { */


/*   background: #361134; */


/*   padding: 24px 2em; */


/*   overflow: hidden; */


/*   *zoom: 1; */


/* } */

.form-group {
    color: #7c8b9d;
    margin-bottom: 24px;
    overflow: hidden;
    *zoom: 1;
}

.form-group label {
    color: #212529;
    /*   font-weight: 400; */
    text-transform: uppercase;
    font-size: 18px;
    width: 100%;
    height: 40px;
    line-height: 48px;
}

.form-group input {
    width: 100%;
    border: 0.5px solid #d7dce1;
    border-width: 0.5px 0.5px;
    border-radius: 10px;
    background: transparent;
    outline: none;
    box-shadow: none;
    height: 40px;
}

.fill:hover,
.fill:focus {
    box-shadow: inset 0 0 0 2em var(--hover);
}

@-webkit-keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 var(--hover);
    }
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 var(--hover);
    }
}

.fill {
    --color: #845184;
    --hover: #845184;
}

button {
    color: var(--color);
    transition: 0.25s;
}

button:hover,
button:focus {
    border-color: var(--hover);
    color: #fff;
}

button {
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 0.8em 1.5em;
    border-radius: 8px;
}

code {
    color: #e4cb58;
    font: inherit;
}

table {
    width: 100%;
    table-layout: fixed;
}

.tbl-header {
    background-color: #28a745;
    border-radius: 10px 10px 0 0;
}

.tbl-content {
    height: 282px;
    overflow-x: auto;
    margin-top: 0px;
    border: 1px solid #28a745;
    border-radius: 0 0 10px 10px;
}

.paymentTable th {
    padding: 17px 12px;
    text-align: left;
    font-weight: 500;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
}

.paymentTable td {
    padding: 15px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 18px;
    color: #212529;
    /*   border-bottom: solid 1px #28a745; */
}


/*  tbody tr:nth-child(2n) { */


/*             background: #dfdfdf; */


/*         } */

section {
    margin: 50px;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    margin: 0;
    font-family: "微軟正黑體";
}

.steps {
    background-color: #ededed;
    margin: 4px 0;
}

.steps ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0 0 0.5em 0;
    padding: 0;
}

.steps ul li {
    height: 4em;
    position: relative;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    color: #aaa;
    font-weight: bolder;
    font-size: 25px;
}

.steps ul li::after,
.steps ul li::before {
    content: '';
    position: absolute;
    border: 1px solid #fff;
    top: 0;
}

.steps ul li::after {
    left: 100%;
    border-width: 2em 0em 2em 1em;
    border-color: transparent transparent transparent #ededed;
    /*   box-shadow: -3px 0px 0 #ededed; */
}

.steps ul li::before {
    left: calc(100% + 3px);
    border-width: 2em 0em 2em 1em;
    border-color: transparent transparent transparent #fff;
    box-shadow: -3px 0px 0 #fff;
}


/* .steps ul li.done { */


/*   background-color: #d2e2f0; */


/*   color: #434343; */


/*   text-shadow: 0px 2px 5px rgba(255,255,255,0.95); */


/* } */

.steps ul li.done::after {
    border-color: transparent transparent transparent #d2e2f0;
    box-shadow: -3px 0px 0 #d2e2f0;
}


/* Step */

.steps ul li.active {
    background-color: #28a745;
    color: #fff;
    text-shadow: 0px 2px 5px rgba(15, 29, 40, 0.95);
}

.steps ul li.active::after {
    border-color: transparent transparent transparent #28a745;
    box-shadow: -3px 0px 0 #28a745;
}

.steps ul li:not(:last-child) {
    margin-right: 0em;
}

.steps ul li:last-child::after,
.steps ul li:last-child::before {
    display: none;
}

.steps ul li:nth-child(1) {
    z-index: 3;
}

.steps ul li:nth-child(2) {
    z-index: 2;
}

