
/*=========================================================
	04 -> CATEGORY SHOP
===========================================================*/


.shop {
  position: relative;
  overflow: hidden;
  margin: 15px 0px;
} 

.shop:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0px;
  width: 20%;
/* background:rgba(176,23,31);  */
/* background-size: 50% 50%;  */
   background-repeat: no-repeat;

}

.shop:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 1px;
  width: 100%;

  opacity: 0.9;

}

.shop .shop-img {
  position: relative;
  background-color: #E4E7ED;
  z-index: -1;
  text-align: left;
} 

.shop .shop-img>img {
  width: 100%;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
} 

.shop:hover .shop-img>img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
 

}

.shop .shop-body {
  position: absolute;
  top: 0;
  width: 75%;
  padding: 30px;
  z-index: 10;
}

.shop .shop-body  {
  color: #FFF;
}

.shop .shop-body .cta-btn {
  color: #FFF;
  text-transform: uppercase;
  text-align:center;
  
}
body {
    margin: 0;
    font-family:"微軟正黑體";
    font-size: 20px;
    color: #333;
    line-height: 20px;
}


