 body {
  font-family: 'proxima-nova', sans-serif;
  font-family: "微軟正黑體";
}

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
    
}

.left, .right {
  width: 5%;
}

.middle {
  width: 90%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the tab */
.tabs {
    float: left;
    border: 2px solid #28a745;
border-radius: 0px 0px 0px 20px;
    width: 15%;
    height: 700px;
}

/* Style the buttons inside the tab */
.tabs button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tabs button:hover {
    background-color: #c9ecc4!important;
    color: black;
    border-left: 0.2em solid #28a745;
}

/* Create an active/current "tab button" class */
.tabs button.active {
    background-color:#28a745 !important;
    color: white;
    border-left: 0.2em solid #e4e4e4;
}

/* Style the tab content */
.tabcontents {
    float: left;
    padding: 0px 12px;
    border: 2px solid #28a745;
    width: 84%;
    border-left: none;
    height: 700px;
    border-radius: 0px 20px 20px 0px;
    background-color: #f4f4f4;

    
}


.col-3 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 20%;
  float: left;
  padding-left: 2.08333%;
  padding-right: 2.08333%;
}


.col-9 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 60%;
  float: left;
  padding-left: 2.08333%;
  padding-right: 2.08333%;
}



.row {
  margin-bottom: 24px;
  overflow: hidden;
  *zoom: 1;
}

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  margin: 0 auto;
}
.container:after {
  content: " ";
  display: block;
  clear: both;
}


p {
  line-height: 24px;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1em;
  font-weight: 700;
}

ul {
  margin: 0 0 0 1em;
  padding: 0;
}

li {
  line-height: 24px;
}

.s {
  font-size: 20px;
  line-height: 24px;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.remove-top {
  margin-top: 0;
}

.remove-bottom {
  margin-bottom: 0;
}

body {
  color: #1B1F2B;
  background: #FFFFFF;
  border-color: #1B1F2B;
}

.dark {
  background: #2f364a;
  color: #e6e6e6;
  border-color: #e6e6e6;
}

nav {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0 2em;
  text-align: center;
  line-height: 72px;
  font-weight: 400;
  font-size: 14px;
}
nav .title {
  padding: 0 1.5em;
  float: left;
}
nav .name {
  position: absolute;
  width: 200px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
nav #light-switch {
  cursor: pointer;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  float: left;
  line-height: 72px;
}
nav .specimen {
  padding: 0 1.5em;
  float: right;
}

section {
  padding: 48px 0;
}

.space-block {
  width: 100%;
  height: 72px;
  border: 1px solid;
  margin-bottom: 24px;
}

.swatch {
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  float: left;
  -moz-border-radius: 48px;
  -webkit-border-radius: 48px;
  border-radius: 48px;
  margin-right: 1em;
  width: 48px;
  height: 48px;
}
.swatch.inactive {
  opacity: .3;
  transform: scale(0.8, 0.8);
}
.swatch.active {
  opacity: 1;
  transform: scale(1, 1);
}

.content {
  background: #361134;
  padding: 24px 2em;
  overflow: hidden;
  *zoom: 1;
}
.content header {
  text-align: center;
  color: #84297f;
}
.content header .s {
  font-size: 2em;
}
.content main {
  height: auto;
  min-height: 200px;
}


.form-group {
  color: #7c8b9d;
  margin-bottom: 24px;
  overflow: hidden;
  *zoom: 1;

}
.form-group label {
  color: #212529;
/*   font-weight: 400; */
  text-transform: uppercase;
  font-size: 18px;
  width: 100%;
  height: 40px;
  line-height: 48px;
}
.form-group input {
  width: 100%;
  border: 0.5px solid #d7dce1;
  border-width: 0.5px 0.5px;
  border-radius:10px;
  background: transparent;
  outline: none;
  box-shadow: none;
  height: 40px;
} 
.fill:hover,
.fill:focus {
  box-shadow: inset 0 0 0 2em var(--hover);
}


@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}


.fill {
  --color: #845184;
  --hover: #845184;
}

button {
  color: var(--color);
  transition: 0.25s;
  
}
button:hover, button:focus {
  border-color: var(--hover);
  color: #fff;
}


button {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 0.8em 1.5em;
border-radius: 8px;
}


code {
  color: #e4cb58;
  font: inherit;
}





table{
  width:100%;
  table-layout: fixed;
}
.tbl-header{
  background-color: #28a745;
  border-radius: 10px 10px 0 0;
 }

.tbl-content{
  height:450px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid #28a745;
  border-radius: 0 0 10px 10px ;
}
th{
  padding: 17px 12px;
  text-align: left;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
}
td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 18px;
  color: #212529;
/*   border-bottom: solid 1px #28a745; */
}

 tbody tr:nth-child(2n) {
            background: #dfdfdf;

        }

section{
  margin: 50px;
}


/* follow me template */
.made-with-love {
  margin-top: 40px;
  padding: 10px;
  clear: left;
  text-align: center;
  font-size: 10px;
  font-family: arial;
  color: #fff;
}
.made-with-love i {
  font-style: normal;
  color: #F50057;
  font-size: 14px;
  position: relative;
  top: 2px;
}
.made-with-love a {
  color: #fff;
  text-decoration: none;
}
.made-with-love a:hover {
  text-decoration: underline;
}


@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');

.warning-msg {
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
}

.warning-msg {
  width:70%;
  color: #9F6000;
  background-color: #FEEFB3;
}

/* 大頭貼 */
.bb {
	display: block;
	margin: auto;
	width: 100%;
	height: auto;
}

#login-button {
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 30px;
	margin: auto;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: rgba(3, 3, 3, .8);
	overflow: hidden;
	opacity: 0.4;
	box-shadow: 10px 10px 30px #000;
}

.order{
	float:left;
	text-align: left;
}

