.calendar{
/* 	width:615px; */
/* 	height:490px; */
	width:430.5px;
	height:343px;
	background:#fff;
	box-shadow:0px 1px 1px rgba(0,0,0,0.5);
	margin: 5em 1em 2em 2em;
	flex: 1;
	float: left;
}
/* 月曆日期 */
.title{
	height:40px;
	border-bottom:1px solid rgba(0,0,0,0.1);
	text-align:center;
	position:relative;
}
#calendar-title{
	font-size:25px;
	font-family:arial;
	font-weight:bold;
	padding:0px;
	text-transform:uppercase;
}
#calendar-year{
	font-size:15px;
	padding:0px;
	font-family:arial;
	font-weight:normal;
}
#prev{
	text-indent:-9999px;
	position:absolute;
	left:0;
	top:0;
	width:60px;
	height:60px;
	background:url(../prev.png) no-repeat 50% 50%;
}
#next{
	text-indent:-9999px;
	position:absolute;
	right:0;
	top:0;
	width:60px;
	height:60px;
	background:url(../next.png) no-repeat 50% 50%;
}
#getMessage{
	font-family: arial;
    font-weight: bold;
    font-size: 14px;
    color:#565656;
}
.body{
	padding:10px 20px;
}
.body-list ul{
	width:100%;
	font-family:arial;
	font-weight:bold;
	font-size:14px;
}

/* 日期 */
.body-list ul li{
	width:14.2%;
	height:38px;
	line-height:40px;
	list-style-type:none;
	display:block;
	box-sizing:border-box;
	float:left;
	text-align:center;
	word-break:break-all;
}

.lightgrey{
	color:#a8a8a8;
}
.darkgrey{
	color:#565656;
}
.greenline{
	color:#6ac13c;
}
.greenbox{
	border:2px solid #6ac13c;
	background:#e9f8df;
}
.tableLv1{
	width:99%;
	color:#565656;
	background:#fff;
	box-shadow:0px 1px 1px rgba(0,0,0,1);
}