body {
	background-color: #bebebe;
	font-family: "微軟正黑體";
}

.login-box {
	position: relative;
	margin: 10px auto;
	width: 500px;
	height: 500px;
	background-color: #fff;
	padding: 10px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.33);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.33);
	box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.33);
}

.lb-header {
	position: relative;
	color: #00415d;
	margin: 5px 5px 10px 5px;
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
	text-align: center;
	height: 28px;
}

.social-login {
	position: relative;
	float: left;
	width: 100%;
	height: auto;
	padding: 10px 0 15px 0;
	border-bottom: 1px solid #eee;
}

.social-login a:first-child {
	background-color: #49639f;
}

.social-login a:last-child {
	background-color: #df4a32;
}

/* 所有文字置中 */
.email-login, .email-signup {
	position: relative;
	float: left;
	width: 100%;
	height: auto;
	margin-top: 20px;
	text-align: center;
}

.u-form-group {
	width: 100%;
	margin-bottom: 10px;
}

.u-form-group input[type="email"], .u-form-group input[type="password"]
	{
	width: calc(50% - 22px);
	height: 45px;
	outline: none;
	border: 1px solid #ddd;
	padding: 0 10px;
	border-radius: 2px;
	color: #333;
	font-size: 0.8rem;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}

.u-form-group input:focus {
	border-color: #358efb;
}

.u-form-group button {
	width: 50%;
	background-color: #28a745;
	border: none;
	outline: none;
	color: #fff;
	font-size: 14px;
	font-weight: normal;
	padding: 14px 0;
	border-radius: 2px;
	text-transform: uppercase;
}

#sendstatus {
	width: 20%;
	height: 40px;
	background-color: #28a745;
	border: none;
	outline: none;
	color: #fff;
	font-size: 14px;
	font-weight: normal;
	padding: 14px 0;
	border-radius: 2px;
	text-transform: uppercase;
}

/* 內文 */
.pe {
	max-width: 500px;
	float: left;
}
/* 信動畫 */
.animated-email {
	background-image:
		url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 98.5 98.5' enable-background='new 0 0 98.5 98.5' xml:space='preserve'><path id='checkmark' fill='none' stroke-width='8' stroke-miterlimit='10' stroke='#009900' stroke-dasharray='745.74853515625' d='M32.44,17.516H86.56c4.377,0,7.94,3.564,7.94,7.941v47.571c0,4.392-3.563,7.956-7.94,7.956H11.941C7.564,80.984,4,77.42,4,73.043V25.457c0-2.366,0.666-3.875,1.997-4.48c2.824-1.316,7.319,2.321,7.97,2.854l35.239,24.444l27.175-18.892'/><animate xlink:href='#checkmark' attributeName='stroke-dashoffset' from='745.74853515625' to='0' dur='2.5s' begin='0s' fill='freeze' repeatCount='indefinite'/></svg>");
}

.animated-check, .animated-email {
  -webkit-transform: rotatez(0);
  width: 8em;
  height: 8em;
}
.animated-icon--center.animated-check, .animated-icon--center.animated-email {
  margin: 0 auto;
}
