body {
	background-color: #bebebe;
	font-family: "微軟正黑體";
}

.login-box {
	position: relative;
	margin: 10px auto;
	width: 500px;
	height: 500px;
	background-color: #fff;
	padding: 10px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.33);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.33);
	box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.33);
}

.lb-header {
	position: relative;
	color: #00415d;
	margin: 5px 5px 10px 5px;
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
	text-align: center;
	height: 28px;
}

.social-login {
	position: relative;
	float: left;
	width: 100%;
	height: auto;
	padding: 10px 0 15px 0;
	border-bottom: 1px solid #eee;
}

.social-login a:first-child {
	background-color: #49639f;
}

.social-login a:last-child {
	background-color: #df4a32;
}

/* 所有文字置中 */
.email-login, .email-signup {
	position: relative;
	float: left;
	width: 100%;
	height: auto;
	margin-top: 20px;
	text-align: center;
}

.u-form-group {
	width: 100%;
	margin-bottom: 10px;
}

.u-form-group input[type="email"], .u-form-group input[type="password"]
	{
	width: calc(50% - 22px);
	height: 45px;
	outline: none;
	border: 1px solid #ddd;
	padding: 0 10px;
	border-radius: 2px;
	color: #333;
	font-size: 0.8rem;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}

.u-form-group input:focus {
	border-color: #358efb;
}

.u-form-group button {
	width: 50%;
	background-color: #28a745;
	border: none;
	outline: none;
	color: #fff;
	font-size: 14px;
	font-weight: normal;
	padding: 14px 0;
	border-radius: 2px;
	text-transform: uppercase;
}

/* 內文 */
.pe {
	max-width: 500px;
	float: left;
}
/* 打勾動畫 */
.animated-check {
  background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='30px' y='30px' viewBox='0 0 98.5 98.5' enable-background='new 0 0 98.5 98.5' xml:space='preserve'><path id='checkmark' fill='none' stroke-width='8' stroke-miterlimit='10' stroke='#009900' stroke-dasharray='745.74853515625' d='M81.7,17.8C73.5,9.3,62,4,49.2,4,C24.3,4,4,24.3,4,49.2s20.3,45.2,45.2,45.2s45.2-20.3,45.2-45.2c0-8.6-2.4-16.6-6.5-23.4l0,0L45.6,68.2L24.7,47.3'/><animate xlink:href='#checkmark' attributeName='stroke-dashoffset' from='745.74853515625' to='0' dur='2.5s' begin='0s' fill='freeze' repeatCount='indefinite'/></svg>");
}

.animated-check, .animated-email {
  -webkit-transform: rotatez(0);
  width: 8em;
  height: 8em;
}
.animated-icon--center.animated-check, .animated-icon--center.animated-email {
  margin: 0 auto;
}


#sendstatus{
	width:60px;
	height:30px;
	padding: 10px 10px;
}


#sendmail{
	width:60px;
	height:30px;
	padding: 0px 10px;
}

#backpage{
	width:100px;
	height:40px;
	padding: 10px 10px;
}

