#negative-film {
	list-style: none;
	background: #362B1F;
	padding: 0 20px;
	margin: 0;
	border-top: 20px dotted white;
	border-bottom: 20px dotted white;
	outline: 10px solid #362B1F;
	margin: 10px;

}

#negative-film:after {
	content: "";
	display: table;
	clear: both;
}

#negative-film li {
	float: left;
	padding: 10px;
}

#negative-film li>img {
	border-radius: 10px;
/* 	黃色濾鏡效果 */
/* 	-webkit-filter: invert(100%) sepia(100%); */
	-moz-filter: invert(100%) sepia(100%);
/* 	filter: invert(100%) sepia(100%); */

	/* HOVER OFF */
	-webkit-transition: -webkit-filter 1s;
}

#negative-film li>img:hover {
	-webkit-filter: none;
	/* HOVER ON */
	-webkit-transition: -webkit-filter 1s;
}